<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d0c87b">  <td>18/03/05 14:49:23</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;sample.afterTest()[pri:0, instance:com.dice.testcase.sample@670b40af]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1971851377</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/03/05 14:49:22</td>   <td>-36</td> <td>&nbsp;</td><td title="&gt;&gt;sample.beforeTest()[pri:0, instance:com.dice.testcase.sample@670b40af]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1971851377</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>18/03/05 14:49:22</td>   <td>-24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sample.lol()[pri:0, instance:com.dice.testcase.sample@670b40af]">lol</td> 
  <td>main@1971851377</td>   <td></td> </tr>
</table>
